WORLDBANK_BASE_URL=https://api.worldbank.org/v2
WORLDBANK_PER_PAGE=1000

BERKELEY_EARTH_BASE_URL=https://berkeley-earth-temperature.s3.amazonaws.com

DUCKDB_PATH=./data/climate_wellbeing.duckdb

DBT_PROFILES_DIR=./dbt_project
DBT_TARGET=dev

DAGSTER_HOME=./dagster_home
DAGSTER_WEBSERVER_PORT=3000

STREAMLIT_PORT=8501

RANDOM_SEED=42
LOG_LEVEL=INFO
ANALYSIS_START_YEAR=2005
ANALYSIS_END_YEAR=2022
